@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* --color-primaryColor: #107269;
  --color-primaryGreen: #107269;
  --color-secondaryColor: #354764;
  --color-primaryTextColor: #0A1A18; */
  --font-clash: var(--font-clash);
  --font-outfit: var(--font-outfit);
}

